<div class="login-container">
    <h2>{{ isLoginMode ? 'Login' : 'Register' }}</h2>
  
    <form (submit)="onSubmit()">
      <label for="username">Username:</label>
      <input id="username" type="text" [(ngModel)]="username" name="username" required />
  
      <label for="password">Password:</label>
      <input id="password" type="password" [(ngModel)]="password" name="password" required />
  
      <!-- Email field for registration only -->
      <div *ngIf="!isLoginMode">
        <label for="email">Email:</label>
        <input id="email" type="email" [(ngModel)]="email" name="email" required />
      </div>
  
      <button type="submit">{{ isLoginMode ? 'Login' : 'Register' }}</button>
    </form>
  
    <!-- Toggle between login and register modes -->
    <p>
      {{ isLoginMode ? "Don't have an account?" : 'Already have an account?' }}
      <a  (click)="toggleMode()">{{ isLoginMode ? 'Register' : 'Login' }}</a>
    </p>
  </div>
  